tags

node_modules
.env

mod
mongo

dist/
tmp/
.DS_Store

#folders and files

#books-library/db-data/*
books-library/backend/vueapi
/websockets/vigilate/vigilate

/concurrency/5-subscription-service/db-data
/concurrency/5-subscription-service/myapp
