go 1.19

use ./simple-bank

use ./fidget-spinners-store

use ./idiomatic-approach-book/9-modules-packages-imports/modules

use ./idiomatic-approach-book/12-context/context_cancel

use ./idiomatic-approach-book/13-testing

use ./websockets/chat

use ./websockets/vigilate

use ./books-library/backend
