go 1.19

use ./simple-bank

use ./fidget-spinners-store

use ./idiomatic-approach-book/9-modules-packages-imports/modules

use ./idiomatic-approach-book/12-context/context_cancel

use ./idiomatic-approach-book/13-testing

use ./websockets/chat

use ./websockets/vigilate

use ./books-library/backend

use ./concurrency/1-basic

use ./concurrency/2-race_conditions-mutexes-channels/bank-balance-calculator

use ./concurrency/3-the-dining-philosophers

use ./concurrency/4-channels/basics

use ./concurrency/4-channels/select

use ./concurrency/4-channels/buffered-channels

use ./concurrency/4-channels/sleeping-barber

use ./concurrency/5-subscription-service

use ./distributed-services/proglog

use ./snippetbox
