{{template "base" .}}
{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}
{{define "body"}}
<!-- So now, between with .Snippet and the corresponding end tag, the value of dot is set to .Snippet. Dot  -->
<!-- essentially becomes the models.Snippet struct instead of the parent templateData struct. -->

{{with .Snippet}}
<div class='snippet'>

  <div class='metadata'>
    <strong>{{.Title}}</strong>
    <span>#{{.ID}}</span>
  </div>
  <pre><code>{{.Content}}</code></pre>
  <div class='metadata'>
    <time>{{.Created | humanDate | printf "Created: %s"}}</time> <!-- tow  lines are the same -->
    <time>Expires: {{humanDate .Expires}}</time>  
  </div>
</div>
{{end}}
{{end}}
